<!doctype html>
<html>
<head>
  <title>Landing</title>
</head>

<body>
  <h1>
        Hello, {{username}}
  </h1>
  <form action="/logout">
      <input type="submit" value="logout" />
  </form>
  
  <h1> Your Stories</h1>
  {% for page in viewable_stories %}
  <strong>{{page}}</strong>
  
  <form action="/view">
    <input type="hidden" name="storyName" value="{{page}}">
     <input type="submit" value="View Story">
  </form>
  
  {% endfor %}
  <h1> New Stories </h1>
  {% for page in editable_stories %}
  <strong>{{page}}</strong>
  
  <form action="/edit">
     <input type ="hidden" name = "storyName" value = "{{page}}">
     <input type="submit" value="Edit Story">
  </form>
  
  {% endfor %}
  
  <h1> Create A New Story: </h1>
  <form action="/create_story" method="POST">
    <input type="text"name="storyName" >
      <br>
      <br>
    <textarea rows = "8"cols = "60"name = "newText"></textarea>
    
    <br>
    <input type="submit" name="Create Story">
  </form>
  
</body>

</html>