<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
  </head>
  <body>
    <h1>
        Maintainable Stories
    </h1>
   <br>
   <form action="/login" method = "POST">
       <input type="text" name="username">
       <br>
       <input type="password" name="password">
       <br>
       <input type="submit" value="Log In With Current Account">
    <br>
    <br>
    <br>
    </form>  
    <form action="/login" method = "POST">
        <input type="submit" name="submit_button" value="Create Account" />
    </form>
  </body>

</html>